body {
  font-family: 'Arial', sans-serif;
  background-color: #FFF;
  color: #000;
  text-align: left;
  font: 14px;
  margin-top: 0px;
  text-decoration: none;
  list-style: none;
  
}

a {
  color: blue;
    
}

a:visited {
  color: blue;
    
}


.post {
  font-size: 22px;
  
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;

}

.sidebar h1 {
  padding: 0px 8px 8px 32px;

}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

.bottomsidebar {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;

}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  cursor: pointer;
  background-image: url("./images/grippy.png");
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px 8px;
  position: fixed;
  border: none;
  transition: left .5s;

}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding-left: 12px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 10px;
  }
  .sidebar a {
    font-size: 13px;
  }
}

.sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.subitem {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;

}