body {
    background-color: #272727;
    color: #EEE;

}

.post {
    font-size: 22px;

}

.page-header {
    margin: 10px;
    padding: 0px;
    padding-bottom: 10px;

}

.container {
    display: flex;

}